*{
    margin: 0;
}
/* Wrapper Style*/

/*Header Style*/
.header
{
    height: auto;
    width: 100%;
    background-color: #000;
    filter: drop-shadow(0px 2px 6px #7a7979); 
    display: flex;
    flex-direction: row;
}
 .header-logo
 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem; 
    padding:3%;
 }
 .header-logo:hover{
     text-decoration: none;
 }
/*NavBar Style*/
.nav-list-item
{
    display: inline-block;
}
a
{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.1rem;
    font-weight:bolder;
    text-decoration: none;
    color:#fff;
    padding: 0 1vw;
}
.nav-list-item a:hover{
    text-decoration: underline;
}
.left
{
    display: inline-block;
    width: 49%;
}
.right{
    padding:1.5% 0 0 1.5%;
    width: auto;
}
.active
{
    background: #fff;
    color: #000;
    border-radius: .1em;
    padding: .5rem 1rem;
}
/*Body part Styling*/
.profile-form h3
{
    font-size: 1.1rem;text-decoration:none;font-family: 'Roboto Slab', monospace;padding:3.2% 0 3.2% 9.2%;font-weight:700;
}

.profile-form input{
    margin: auto;
}
.profile-form button{
    margin: auto;width: 28%;padding: 3%;
    margin: 4.7% auto;
    font-family: 'Roboto', monospace;
    font-weight: bold;
}
.profile-form hr
{
    border: 1px solid #000;height:0;background-color: black;width: 70%;margin: 0 auto 1% auto;
}
/*Form Styling*/
.form
{
    height: auto;
    display: flex;
    flex-direction: column;
    width:59%;
    margin: 5% auto 0 auto;
    padding: 2% 2% 2% 2%;
    background-color: rgb(252, 252, 252);
    border-radius: 9px;
    box-shadow: 3px 3px 7px #cccaca, -3px -3px 7px #cccaca;
    align-items: center;
}
.profile-form 
{
    height: auto;
    display: flex;
    flex-direction: column;
    width:39%;
    margin: 2% auto 2% auto;
    padding: 2% 2% 2% 2%;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 3px 3px 7px #cccaca, -3px -3px 7px #cccaca;
}
.butns
{
    width: 65%;
    margin: auto;
    align-items: center;
    justify-content: center;
}
/*Form Heading Style*/
.form-header
{
    margin: auto;
    text-decoration: underline;
    padding-bottom: 1.7%;
}
.sel
{
    width: 78%;
}
input,select,textarea
{   
    width: 75%;
    padding: 1.5%;
    margin: 1.5% 0;
    font-size: 1rem;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    border-radius: 9px;
    filter: drop-shadow(0px 2px 3px #cccaca);
}
/*Address Input box styling*/
textarea{
    height: 35%;
}
button{
    height: auto;
    width: 20%;
    margin: 1.5%;
    padding: 1.3% 0%;
    background-color: #000;
    color: #fff;
    border-radius: 9px;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px 8px #717070,-4px -4px 8px #717070;
    transition: 100ms ease-in-out;
}
button:hover{
    box-shadow: 3px 3px 5px #cccaca,-3px -3px 3px #cccaca;   
}


