*{
    margin: 0;
}
/* Wrapper Style*/

/*Header Style*/
.header
{
    height: auto;
    width: 100%;
    background-color: #000;
    filter: drop-shadow(0px 2px 6px #7a7979); 
    display: flex;
    flex-direction: row;
}
 .header-logo
 {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem; 
    padding:5%;
 }
 .header-logo:hover{
     text-decoration: none;
 }
/*NavBar Style*/
.nav-list-item
{
    display: inline-block;
}
a
{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.4rem;
    font-weight:bolder;
    text-decoration: none;
    color:#fff;
    padding: 0 1vw;
}
a:hover{
    text-decoration: underline;
}
.left
{
    display: inline-block;
    width: 49%;
}
.right{
    padding:1.5% 0 0 13.5%;
}
.active
{
    background: #fff;
    color: #000;
    border-radius: .1em;
    padding: .5rem 1rem;
}
/*Body part Styling*/

/*Form Styling*/
.form
{
    height: auto;
    display: flex;
    flex-direction: column;
    width:45%;
    margin: 5% auto;
    padding: 2% 2% 2% 2%;
    background-color: rgb(252, 252, 252);
    border-radius: 9px;
    box-shadow: 3px 3px 7px #cccaca, -3px -3px 7px #cccaca;
}
/*Form Heading Style*/
.form-header
{
    margin: auto;
    text-decoration: underline;
    padding-bottom: 1.7%;
}

input,select,textarea{
    padding: 1.5%;
    margin: 1.5% 0;
    font-size: 17px;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: bold;
    border-radius: 9px;
    filter: drop-shadow(0px 2px 3px #cccaca);
}

/*Address Input box styling*/
textarea{
    height: 15vh;
}
button{
    height: auto;
    width: 21%;
    margin: 1.5% auto;
    padding: 1.3% .3%;
    background-color: #000;
    color: #fff;
    border-radius: 9px;
    filter: drop-shadow(3px 3px 6px #cccaca);
    font-family: 'Roboto Mono', sans-serif;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 5px 5px 10px #717070,-5px -5px 10px #717070;
    transition: 300ms;
}
button:hover{
    box-shadow: none;
    width: 20%;
    font-size: 17px;
}