*{
    margin: 0;
}
/* Wrapper Style*/

/*Header Style*/
.header
{
    height: auto;
    width: 100%;
    background-color: #000;
    filter: drop-shadow(0px 2px 6px #7a7979); 
    display: flex;
    flex-direction: row;
}
 .header-logo
 {
    font-family: 'Poppins', sans-serif;
    font-size: 45px; 
    padding:3%;
    text-align: start;
    text-decoration: none;
 }
 .header-logo:hover{
     text-decoration: none;
 }
 
 
    /*NavBa.right Style*/
            .nav-list
            {
                display: flex;
                flex-direction: row;
            }
            ul{
                list-style: none
            }
            .nav-list-item
            {
                padding: 20px 0;
                margin:0 10px;
            }
            a
            {
                font-family: 'Roboto Mono', monospace;
                font-size: 19px;
                font-weight:bolder;
                text-decoration: none;
                color:#fff;
                padding: 0 10px;
            }
            .nav-list-item a:hover{
                text-decoration: underline;
            }
            .left
            {
                display: inline-block;
                width: 49%;
            }
            .right{
                width: 49%;                
                padding: 20px 0;
                padding-left: 200px;
            }
            .active
            {
                background: #fff;
                color: #000;
                border-radius: 7px;
                padding: .5rem 1rem;
            }
/*Body part Styling*/
        h1{
            text-align: center;
            text-decoration: underline;
        }
        .form-profile-form h3
        {
            font-size: 1.1rem;text-decoration:none;font-family: 'Roboto Slab', monospace;padding:3.2% 0 3.2% 9.2%;font-weight:700;
        }

        .form-profile-form input{
            margin: auto;
        }
        .form-profile-form button{
            margin: auto;
            width: 150px;
            padding: 3%;
            margin: 4.7% auto;
            font-family: 'Roboto', monospace;
            font-weight: bold;
        }
        .form- hr
        {
            border: 1px solid #000;height:0;background-color: black;width: 57%;margin: 1% auto 6% auto;
        }
        .form- h1{
            font-size: 2.1rem;
            font-family: 'Poppins', sans-serif;
        }
        .form-profile-form hr
        {
            border: 1px solid #000;height:0;background-color: black;width: 70%;margin: 0 auto 1% auto;
        }
                    /*Form Styling*/
                    .form-1
                    {
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        width:50%;
                        margin: 5% auto 7% auto;
                        padding: 2% 2% 2% 2%;
                        background-color: rgb(252, 252, 252);
                        border-radius: 9px;
                        box-shadow: 3px 3px 7px #cccaca, -3px -3px 7px #cccaca;
                        align-items: center;
                    }
                    .display
                    {
                        width: 95%;
                        margin: auto;
                    }
                    .form-category
                    {
                        margin:1% auto 1% auto;
                        display: flex;
                        flex-direction: column;
                    }
                    .form-category h2
                    {
                        font-size: 55px;
                        text-align: center;
                        font-family: 'Roboto', monospace;
                    }
                    .form-category h4
                    {
                        text-align: center;
                        font-size: 30px;
                        font-family: 'Poppins', sans-serif;
                    }
                    .form-category hr
                    {
                        border: 1px solid #000;height:0;background-color: black;width: 15%;margin: 0 auto 0 auto;
                    }
                    .form-sub-category
                    {
                        display:flex;
                        width:100%;
                        flex-direction:row;
                        flex-wrap: wrap;
                        margin:0% auto;
                        padding:50px 0;
                    }
                    .form-product
                    {
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        width:21%;
                        box-shadow: none;
                        margin:25px 25px;
                        padding: 0;
                        background-color:none;
                        box-shadow: none;
                        box-shadow: 1px 1px 5px #cccaca, -1px -1px 5px #cccaca;
                        border-radius: 10px;
                    }
                    .form-product-more
                    {
                        height: 600px;
                        width:21%;
                        display: flex;
                        flex-direction: column;
                        margin:auto;
                        background-color:none;
                        box-shadow: 1px 1px 5px #cccaca, -1px -1px 5px #cccaca;
                        border-radius: 10px;
                    }
                    .product-image
                    {
                        height: 150px;
                        width: auto;
                        width: auto;
                        margin:5px auto 0 auto;
                    }
                    img 
                    {
                        object-fit: scale-down;
                        border-radius: 10px;
                    }
                    .product-data
                    {
                        height: auto;
                        width: 90%;
                        margin:150px auto 0 auto;
                        position: relative;
                        bottom: 0px;
                        background-color: none;
                        background-color: #fff;
                        text-align: center;
                    }
                    .product-data a
                    {
                        color: #000;
                        margin: 3% auto 1% auto;
                        padding: 0 0 3px 0;
                        font-size: 17px;
                        font-family: 'Poppins', sans-serif;padding:0;
                    }
                    .product-name
                    {
                        height: auto;
                    }
                    .form-profile-form 
                    {
                        height: auto;
                        display: flex;
                        flex-direction: column;
                        width:39%;
                        margin: 2% auto 2% auto;
                        padding: 2% 2% 2% 2%;
                        background-color: #fff;
                        border-radius: 9px;
                        box-shadow: 3px 3px 7px #cccaca, -3px -3px 7px #cccaca;
                    }
                    .butns
                    {
                        width: 150px;
                        margin: auto;
                        align-items: center;
                        justify-content: center;
                    }

                    .product-body
                    {
                        height: auto;
                        width:60%;
                        align-items:space-between;
                        border-radius: 8px;
                        margin: 0 auto 0 auto;
                        padding:70px;
                        display: flex;
                        flex-direction: row;
                    }
                    .prod-details
                    {
                        height: 40%;
                        display: flex;
                        width: 70%;
                        flex-direction:column;
                        margin: 10px auto 0 auto;
                        padding: 15px;
                        border: 3px solid #cccaca;
                        border-radius: 10px;
                        justify-content: space-between;
                    }
                    .prod-data h1
                    {
                        margin: 40px auto 20px auto;
                        text-decoration: none;
                        font-size: 31px;
                    }
                    .prod-data hr
                    {
                        width: 45%;
                        margin :11px auto 5px auto;
                        border: 5px;
                        border-style: dotted none none none;
                    }
                    .prod-data h2
                    {
                        display: inline-block;
                        text-align: left;
                        font-size:23px;
                        font-family: 'Roboto', sans-serif;
                        display: inline-block;
                    }
                    .prod-data h4{
                        display: inline-block;
                        width: auto;
                        margin: auto;
                        font-family: 'Roboto', sans-serif;
                        padding: 7px;
                        border: 2px solid rgb(20, 100, 20);
                        border-radius: 10px;
                        background-color: #0ba10b;
                        color: #fff;
                    }
                    .prod-details form
                    {
                        font-size: 21px;
                    }
                    .prod-data h4
                    {
                        font-size: 21px;
                    }
                    .prod-data button
                    {
                        background-color: #0ba10b;
                        box-shadow:none;
                        border: 0;
                    }
                    .prod-data button:hover
                    {
                        box-shadow: none;
                    }
                    .prod-img
                    {
                        height: 540px;
                        width: 650px;
                        padding: 9px;
                        border: 1px solid #cccaca;
                        margin: 0 20px 0 20px;
                        border-radius: 8px;
                    }
                    .prod-data
                    {
                        height: 500px;
                        width: 60%;
                        margin-top: 55px;
                        box-shadow:5px 5px 12px #ccceca,-5px -5px 12px #ccceca;
                        border-radius: 8px;
                        display: flex;
                        flex-direction: column;
                    }
                    /*Form Heading Style*/
                                .form-header
                                {
                                    margin: auto;
                                    text-decoration: underline;
                                    padding-bottom: 1.7%;
                                }
                                .sel
                                {
                                    width: 78%;
                                }
                                input,select,textarea
                                {   
                                    width: 75%;
                                    padding: 1.5%;
                                    margin: 1.5% 0;
                                    font-size: 1rem;
                                    font-family: 'Roboto Slab', sans-serif;
                                    font-weight: bold;
                                    border-radius: 9px;
                                    filter: drop-shadow(0px 2px 3px #cccaca);
                                }
                    /*Address Input box styling*/
                                textarea{
                                    height: 35%;
                                }
                    /*Form buton styling*/
                                button
                                {
                                    height: auto;
                                    width: 150px;
                                    margin: 1.5%;
                                    padding: 1% 0%;
                                    background-color: #000;
                                    color: #fff;
                                    border-radius: 9px;
                                    font-family: 'Roboto Mono', sans-serif;
                                    font-size: 18px;
                                    font-weight: bold;
                                    cursor: pointer;
                                    box-shadow: 4px 4px 8px #717070,-4px -4px 8px #717070;
                                    transition: 100ms ease-in-out;
                                }
                                button:hover
                                {
                                    box-shadow: 3px 3px 5px #cccaca,-3px -3px 3px #cccaca;   
    
                            }
    /*about-us*/
    .about
    {
        width: 40%;
        margin: 30px auto;
        border: 4px solid #111;
        border-radius: 15px;
        padding: 10px;

    }
    h4
    {
        margin: 60px auto;font-size:37px;font-family: 'Roboto', sans-serif;
        text-decoration: underline;
        cursor: pointer;

    }
    .about h6
    {
        font-size: 19px;
        line-height:1;
    }
        /*Footer Style*/
        .footer
        {
            width: 100%;
            margin-top: 80px;
            background-color: #000;
            color: #fff;
            position:static;
            bottom: 0;
        }
        .footer h1
        {
            text-decoration: none;
            padding: 20px;
        }
        .footer h5
        {
            text-align: center;
            padding: 15px;
        }
@media only screen and (max-width: 1440px) and (min-width: 1001px)
{
    .right
    {
        padding-left: 20px;
    }
    .nav-list
    {
        padding-left: 0;
    }
    a{
        font-size: 15px;
    }
    .product-data h4
    {
        width: 60%;
    }
    .product-data button{
        width: 100px;
    }
    .product-name
    {
        font-size: 12px;
    }
    .about
    {
        padding: 5px;
    }
}
@media only screen and (max-width: 768px)
{
    .wrapper
    {
        margin: 0;
    }
    .header
    {
        flex-direction: column;
        text-align:center;
    }
    .header-logo
    {
        text-align: center;
    }
    .left
    {
        display: inline-block;
        width: 100%;
    }
    
    .right
    {
        padding:0%;
        width: auto;
    }
    ul
    {
        padding-left: 0;;
    }
    .nav-list-item
    {
        padding-left:0%;
    }
    .nav-list
    {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .display
    {
        width: 100%;
        margin: auto;
    }
    [class*="form-"]
    {
        width: 90%;
        margin-bottom: 60px;
    }
    .form-profile-form h1
    {
        font-size: 20px;
    }
    h1
    {
        font-size: 30px;
        text-decoration: none;
        text-align: center;
    }
    h3
    {
        font-size: 17px;
    }
    input,select,textarea
    {
        padding: 10px;
        margin: 20px;
    }
    
    .product-data button
    {
        font-size:16px;
        width: 100px;
    }
    .form-product-more
    {
        height: auto;
        width:90%;
        display: flex;
        flex-direction: column;
        margin:auto;
        background-color:none;
        box-shadow: 1px 1px 5px #cccaca, -1px -1px 5px #cccaca;
        border-radius: 10px;
    }
    .product-body
    {
        flex-direction:column;
        margin: auto;
        width:83%;
        padding: 0;
    }
    .prod-img
    {
        height: 540px;
        width: 88%;
        box-shadow:3px 3px 6px #ccceca,-3px -3px 6px #ccceca;
        margin:50px auto 0 auto;
        border-radius: 8px;
    }
    .prod-data
    {
        height: 340px;
        width: 88%;
        margin:10px auto 30px auto;
        box-shadow:none;
        border-radius: 8px;
    }
    .prod-data h1
    {
        font-size: 24px;
    }
    
    .prod-data h4
    {
        margin: 10px auto 30px auto;
        width: auto;
    }   
    .form-1 h2
    {
        font-size: 32px;
        margin: 50px;
        padding: 20%;
    }
    .about
    {
        width: 90%;
        padding: 1px;
    }
    .about h4
    {
        font-size: 20px;
    }
    .about h6
    {
        font-size: 14px;
        line-height:1;
    }
   .product-image
   {
       height: auto;
   }
}